* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: rgb(240, 244, 243);
	user-select: none;
	overflow-x: hidden;
}

ul {
	display: flex;
	font-size: 1rem;
	align-items: center;
	transition: 0.5s;
}

a {
	text-decoration: none;
}

a[idea] {
	cursor: pointer;
	color: white;
	font-size: 1rem;
	padding: 7.5px 10px;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(86, 160, 245);
	margin: 1rem 0;
	transition: background-color 0.3s;
}

a[idea]:hover,
a[idea]:active {
	background-color: rgb(83, 83, 83);
}

li {
	list-style: none;
	padding: 10px;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.active {
	border-bottom: 3px solid black;
}

header,
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: grey;
}

header {
	z-index: 1;
	position: sticky;
	top: 0;
	background-color: white;
	padding: 0 1%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
}

#burger {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 3;
	cursor: pointer;
	z-index: 5;
}

#burger div {
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 2.5px 15px;
	background-color: black;
	transition: all 300ms ease-in-out;
}

.toggle .line1 {
	transform: rotateZ(-45deg) translate(-5px, 6px);
	background-color: #f9fff2 !important;
}

.move {
	transform: translate(0);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotateZ(45deg) translate(-5px, -6px);
	background-color: #f9fff2 !important;
}

.rect {
	z-index: -1;
	height: 30vh;
	width: 30vh;
	background-color: rgb(227, 94, 106);
	position: fixed;
	right: 0;
	transform: translate(30%, -30%);
}

footer h2,
footer h6 {
	font-weight: 600;
	margin: 2%;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}

.circle {
	height: 30vh;
	width: 30vh;
	z-index: -1;
	background-color: #F9C73F;
	position: fixed;
	border-radius: 50%;
	bottom: 0;
	transform: translate(-30%, 30%);
}

ul>a {
	display: none;
}

@media screen and (max-width:768px) {
	footer {
		flex-direction: column;
	}
	#burger {
		display: block;
	}
	ul {
		flex-direction: column;
		height: 90vh;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		transform: translate(100%);
		font-size: 1.3rem;
		height: 100vh;
		background-color: grey;
		padding: 10rem 0;
		justify-content: space-around;
	}
	ul>a {
		display: inline-block;
	}
	ul~a {
		display: none;
	}
	header {
		height: 3.5rem;
	}
}

@media screen and (max-width:375px) {}