* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: rgb(240, 244, 243);
	user-select: none;
	overflow-x: hidden;
}

ul {
	display: flex;
	font-size: 1rem;
	align-items: center;
	transition: 0.5s;
}

a {
	text-decoration: none;
}

a[idea] {
	cursor: pointer;
	color: white;
	font-size: 1rem;
	padding: 7.5px 10px;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(86, 160, 245);
	margin: 1rem 0;
	transition: background-color 0.3s;
}

a[idea]:hover,
a[idea]:active {
	background-color: rgb(83, 83, 83);
}

li {
	list-style: none;
	padding: 10px;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.active {
	border-bottom: 3px solid black;
}

header,
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: grey;
}

header {
	z-index: 1;
	position: sticky;
	top: 0;
	background-color: white;
	padding: 0 1%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
}

#burger {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 3;
	cursor: pointer;
	z-index: 5;
}

#burger div {
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 2.5px 15px;
	background-color: black;
	transition: all 300ms ease-in-out;
}

.toggle .line1 {
	transform: rotateZ(-45deg) translate(-5px, 6px);
	background-color: #f9fff2 !important;
}

.move {
	transform: translate(0);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotateZ(45deg) translate(-5px, -6px);
	background-color: #f9fff2 !important;
}

.rect {
	z-index: -1;
	height: 30vh;
	width: 30vh;
	background-color: rgb(227, 94, 106);
	position: fixed;
	right: 0;
	transform: translate(30%, -30%);
}

footer h2,
footer h6 {
	font-weight: 600;
	margin: 2%;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}

.circle {
	height: 30vh;
	width: 30vh;
	z-index: -1;
	background-color: #F9C73F;
	position: fixed;
	border-radius: 50%;
	bottom: 0;
	transform: translate(-30%, 30%);
}

ul>a {
	display: none;
}

.section1 {
	width: 100vw;
	min-height: 90vh;
	display: flex;
	padding: 0 8%;
	align-items: center;
}

.section1:nth-child(even) {
	flex-direction: row-reverse;
}

section h1 {
	font-size: 3rem;
}

.intro {
	flex-basis: 50%;
}

[heading]:after {
	content: '';
	width: 15rem;
	border-radius: 10px;
	height: 0.4rem;
	background-color: rgba(255, 60, 0, 0.8);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 200%);
}

p {
	font-size: 1em;
}

.image {
	flex-basis: 50%;
	overflow: hidden;
    animation: move 1.5s ease-in-out infinite alternate;
}

.section1[reduce] {
	margin: -4rem 0;
}

.image img {
	transform: scale(1.2);
	width: 100%;
}

@keyframes move {
    from{
        transform: translate(0,10%);
    }
    to{
        transform: translate(0);
    }
}

[z] {
	font-size: 2rem;
}

img[no-scale] {
	transform: scale(0.8);
}

img[scale] {
	transform: scale(0.9);
}

[heading] {
	font-size: 2.5rem;
	text-align: center;
	position: relative;
}

[e] {
	display: inline-block;
}

@media screen and (max-width:768px) {
	.section1 {
		flex-direction: column !important;
		padding: 8%;
	}
	footer {
		flex-direction: column;
	}
	#burger {
		display: block;
	}
	ul {
		flex-direction: column;
		height: 90vh;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		transform: translate(100%);
		font-size: 1.3rem;
		height: 100vh;
		background-color: grey;
		padding: 10rem 0;
		justify-content: space-around;
	}
	ul>a {
		display: inline-block;
	}
	ul~a {
		display: none;
	}
	header {
		height: 3.5rem;
	}
}

@media screen and (max-width:375px) {
	section h1 {
		font-size: 2rem;
	}
	[heading] {
		font-size: 1.5rem;
        margin-bottom: 2rem;
	}
	[z] {
		font-size: 1.75rem;
	}
}